* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(to left top, rgb(241, 28, 28, 0.8) , rgb(0, 0, 253, 0.8));
  background-repeat: no-repeat;
}
.fixed {
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}
.all {
  width: 1100px;
  margin: 100px auto;
  background-color: rgba(87, 57, 57, 0.5);
}
.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 22px;
  width: 1100px;
}
.nav-name h2 {
  letter-spacing: 5px;
}
.nav-menu ul {
  display: flex;
}
.nav-menu ul li {
  list-style: none;
  margin:  0 10px;
}
.nav-menu ul li a {
  color: rgb(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.nav-menu .active {
  color: #fff;
}
.nav-menu ul li .active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(0, 255, 0);
  transition: all 0.25s;
}
.nav-menu ul li a::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(0, 255, 0);
  transition: all 0.25s;
}
.nav-menu ul li:hover a {
  color: #fff;
}
.nav-menu ul li:hover a::after{
  width: 100%;
  transition: all 0.25s;
}
.mid .por {
  display: flex;
  position: relative;

}
.mid {
  padding: 20px 40px;

}
.mid .por p {
  color: rgba(255, 255, 255, 0.3);
  margin: 5px 0;
}
.mid .por .line {
  width: 100px;
  height: 1px;
  background-color: rgb(0, 255, 0);
  position: absolute;
  top: 50%;
  left: 96px;
  z-index: 5;
}
.mid h1 {
  color: #fff;
}
#click_all,
#click_app,
#click_card,
#click_web {
  display: none;
}

.inside {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content {
  margin-bottom: 80px;
}
.text {
  color: white;
  padding: 7px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  margin: 0 10px;
}

/*  */
.img_all,
.img_app,
.img_card,
.img_web {
  display: none;
}

.img_all img,
.img_app img,
.img_card img,
.img_web img {
  width: 30%;
  margin: 48px 0 0 12px;
  box-shadow: 0 0 10px rgba(1, 255, 115, 0.3);
  border-radius: 5px;
}

/* Duong fix here  */
#click_all:checked ~ * .img_all,
#click_app:checked ~ * .img_app,
#click_card:checked ~ * .img_card,
#click_web:checked ~ * .img_web {
  visibility: visible;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*  */

#click_all:checked ~ .text_all,
#click_app:checked ~ .text_app,
#click_card:checked ~ .text_card,
#click_web:checked ~ .text_web {
  background-color: rgb(65, 221, 135);
  box-shadow: 0 0 5px rgb(65, 221, 135);
}

#click_all:hover ~ .text_all,
#click_app:hover ~ .text_app,
#click_card:hover ~ .text_card,
#click_web:hover ~ .text_web {
  background-color: rgb(65, 221, 135);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(65, 221, 135);
}
